<!DOCTYPE html>

<head>
    <title>Todo App</title>
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@400&family=Lato:ital,wght@0,400;1,700&display=swap">
    <script src="https://kit.fontawesome.com/b26c935939.js" crossorigin="anonymous"></script>
    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
</head>