body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.app-background {
    min-height: 100vh;
    background-image: linear-gradient(#4d5cc9, #68a7ea);
    justify-content: center;
    align-items: center;
    padding: 2em 3em;
    display: flex;
}

.todo-container {
    color: white;
    position: relative;
    margin: auto;
    padding: 20px;
    width: 680px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.todo-header {
    margin: 5px;
    font-family: 'Baloo 2', cursive;
    font-size: 2em;
    letter-spacing: 0.3em;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
}

.todo-add-form {
    padding: 7px;
    display: flex;
    align-items: center;
}

.todo-add-form input {
    font-size: 16px;
    height: 25px;
    border: none;
    border-radius: 10px;
    margin: 5px;
    padding: 8px 10px;
    width: 100%;
}

.todo-add-form button {
    font-family: 'Baloo 2', cursive;
    cursor: pointer;
    padding: 8px 10px;
    font-size: 16px;
    margin: 5px 0px 5px 5px;
    border-radius: 10px;
    border: none;
    background-color: #ef922d;
    box-shadow: 1px 3px 3px 1px rgba(0, 0, 0, 0.2);

}

.todo-list-background {
    width: 75%;
    border: none;
    outline: none;
    background: none;
    cursor: initial;
    word-wrap: break-word;
    padding-bottom: 15px;
}

.todo-list-item {
    overflow-y: hidden;
    margin: 10px 0px;
    padding: 10px;

}

/*  */
.todo-list-item li {
    font-size: 16px;
    padding: 10px;
    margin: 15px 0px;
    border: none;
    border-radius: 10px;
    background: rgba(0, 0, 10, 0.3);
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    box-shadow: 1px 3px 3px 1px rgba(0, 0, 0, 0.2);

}

.todo-list-item div {
    flex-grow: 2;
}

.remove {
    color: rgb(243, 96, 96);
    margin: 7px;
    cursor: pointer;
    padding: 5px;
}

.edit-btn {
    color: rgb(143, 233, 58);
    margin: 7px;
    cursor: pointer;
    text-decoration: none;
}

/* todoEdit */
.todo-edit-form {
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.edit-input {
    padding: 8px 10px;
    margin: 5px;
    border-radius: 10px;
    font-size: 16px;
    border: none;
    width: -webkit-fill-available;
}

.save {
    font-size: 16px;
    font-family: 'Baloo 2', cursive;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 6px 8px;
    background-color: rgb(51, 212, 100);
    margin: 5px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

}

.cancel {
    font-size: 16px;
    font-family: 'Baloo 2', cursive;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 6px 8px;
    background-color: rgb(141, 145, 148);
    margin: 5px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

footer p {
    text-align: center;
    background: #68a7ea;
    margin: 0;
    padding: 3px;
}

a {
    text-decoration: none;
}